body{
    margin: auto;
}
#container{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    margin-top: 30px;
}
#header{
    width: 80vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#conteudo{
    width: 80vw;
    height: 40vw;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font-size: 22px;
}
h2{
    font-size: 17px;
}
hr{
    width: 166vh;
}
a{
    text-decoration: none;
    color: black;
}